.about__image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
  img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    border: 5px solid $--secondaryDarkColor;
    box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.1);
  }
}
.about__container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
  box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.1);

  .about__text {
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: $--secondaryLightColor;
    }
  }
}
