.home__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .home__Hero {
    width: 100%;
    height: auto;
    aspect-ratio: 11 / 2;
    background-image: url(../images/singaporeHero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .home__Title {
    padding-top: 30px;
  }

  .home__Text {
    background-color: $--primaryLightColor;
    width: 100%;
    padding: 20px 80px;
    margin: 0 auto;
  }
}
